{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Inscription</h1>
    {{ form(formInscription) }}
    <p><a href="{{ path("accueil_index") }}" >Accueil</a></p>
{% endblock %}
