{% extends 'site.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h1>Inscription</h1>

    {{ form_start(formInscription) }}
    {{ form_rest(formInscription) }}

    <button type="submit">S'inscrire</button>

    {{ form_end(formInscription) }}

    <p><a href="{{ path("index") }}" >Accueil</a></p>

{% endblock %}